<?xml version="1.0" encoding="UTF-8"?>
<phpunit bootstrap="Test/bootstrap.php" forceCoversAnnotation="true" colors="true" strict="true">

    <testsuite name="RepoVid">
        <directory suffix="Test.php">./Test</directory>
    </testsuite>

    <filter>
        <whitelist addUncoveredFilesFromWhitelist="true">
            <directory suffix=".php">./</directory>
            <exclude>
                <directory suffix=".php">./Test/</directory>
                <directory suffix=".php">./vendor/</directory>
            </exclude>
        </whitelist>
    </filter>
</phpunit>
